@{
  Layout = "_Layout";
}

<h1>Welcome to Stylist/ Client Database!</h1>
<p>@Html.ActionLink("See all clients", "Index", "Client")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylist")</p>
